PORT=__PORT__
PATH_SUBDOMAIN=api

# llave secreta de stripe
STRIPE_SECRET_KEY=__STRIPE_SECRET_KEY__
STRIPE_SUCCESS_URL=__STRIPE_SUCCESS_URL__
STRIPE_CANCEL_URL=__STRIPE_CANCEL_URL__
STRIPE_WEBHOOK_SECRET=__STRIPE_WEBHOOK_SECRET__